  <meta name="Robots" content="index,follow" />
  <meta name="author" content="Junichiro Takagi" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css?date=20140510" type="text/css" />
  <link rel="alternate" type="application/rss+xml" title="tjun memo" href="http://tjun.org/blog/feed.rss" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta name="msvalidate.01" content="B810A86B781E0ADE74E7DB82A9DCC016" />
  <meta name="y_key" content="d1f4b50cd2c2039a" />
