<header id="header" class="group">

  <h1><a href="/" alt="tjun memo">{{ site.name }}</a></h1>

  <nav>
	<ul>
	  <li><a href="/" alt="Top">Top</a></li>
	  <li><a href="/blog/feed.xml" alt="About">Feed</a></li>
	  <li>
		<form action="http://google.com/search" class="btn-group" id="search">
		  <input type="text" name="q" class="input-search" id="query">
		  <input type="button" class="btn btn-round" value="search" onclick="this.form.submit();">
		</form>
	  </li>
	</ul>	
  </nav>	
    
</header>
