      <div class="share">
        <ul>
          <li>
          	<a href="http://b.hatena.ne.jp/entry/tjun.org{{ page.url }}/" class="hatena-bookmark-button" data-hatena-bookmark-title="{{ page.title }} - {{ site.name }}"  data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加">  <img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" />
            </a>
          </li>
          <li>
            <a href="http://twitter.com/share" class="twitter-share-button" data-via="tjun" data-count="horizontal">Tweet</a>
          </li>
          <li>
            <iframe src="http://www.facebook.com/plugins/like.php?href=http://tjun.org{{ page.url }}/&amp;layout=button_count&amp;show_faces=false&amp;width=90&amp;action=like&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:20px;" allowTransparency="true"></iframe>
          </li>
        </ul>
      </div>
