<!doctype html>
<html lang="ja-JP">
<head>
  <title>{{ page.title }} - {{site.name }}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" value="{{ page.description }}" />
  <meta name="keywords" value="{{ page.keywords }}" />

{% include tw-bootstrap.html %}
{% include common-meta.html %}

  <link rel="canonical" href="{{site.url}}{{page.url}}/" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:site_name" content="{{ site.name }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:type" content="blog" />
  <meta property="og:url" content="{{site.url}}{{ page.url }}/" />
  <meta property="og:image" content="http://tjun.org/apple-touch-icon.png" />
  <meta property="fb:admins" content="1261372973" />
  <meta property="fb:app_id" content="146534425377418" />
  <meta name=twitter:card content="summary" />
  <meta name=twitter:creator content="@tjun" />
  <meta name=twitter:url content="{{site.url}}{{ page.url }}/" />
  <meta name=twitter:title content="{{ page.title }}" />
  <meta name=twitter:description content="{{ page.description }}" />

{% include google-analytics.html %}

</head>

<body>

{% include header.html %}

  <div class="container">
    <div id="main">
      <span>{{ page.date | date_to_string }}</span><br />
      <h1>{{ page.title }}</h1>

      <br />
      {{ content }}

{% include share-buttons.html %}

      <div id="bottom-nav" class="row">
        {% if page.previous.url %}
        <div class="col-md-5">
          &laquo;&nbsp;<a href="{{ page.previous.url }}" rel="previous">{{ page.previous.title }}</a>
        </div><!-- third -->
        {% endif %}

        {% if page.next.url %}
        <div class="col-md-5 col-md-offset-2">
          <a href="{{ page.next.url }}" rel="next">{{ page.next.title }}</a>&nbsp;&raquo;
        </div><!-- third -->
        {% endif %}
      </div>
    </div><!-- id:main -->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    var disqus_shortname = 'tjunmemo';

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    <script defer="defer" type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

{% include footer.html %}

  </div><!-- class:container -->

{% include js-post.html %}

{% include js-all.html %}
</body>
</html>
