<!doctype html>
<html lang="ja">
<head>
  <title>{{site.name}}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" value="{{ site.description }}" />

{% include tw-bootstrap.html %}
{% include common-meta.html %}

  <link rel="canonical" href="{{site.url}}" />
  <meta property="og:title" content="{{ site.name }}" />
  <meta property="og:site_name" content="{{ site.name }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:type" content="blog" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:image" content="http://tjun.org/apple-touch-icon.png" />
  <meta property="fb:admins" content="1261372973" />
  <meta property="fb:app_id" content="146534425377418" />
  <meta property="twitter:account_id" content="4503599630478003" />
  <meta name=twitter:card content="summary" />
  <meta name=twitter:creator content="@tjun" />
  <meta name=twitter:url content="{{site.url}}" />
  <meta name=twitter:title content="{{ site.name }}" />
  <meta name=twitter:description content="{{ site.description }}" />

{% include google-analytics.html %}

</head>

<body>

{% include header.html %}

  <div class="container">
    <div id="main" class="row">

      <div id="left" class="col-md-2 hidden-xs">
        <ul class="nav nav-stacked nav-pills">
          <li><a href="/about.html" alt="about">about</a></li>
          <li><a href="/archive.html" alt="archive">archive</a></li>
        </ul>
      </div><!-- id:left -->

      <div id="right" class="col-md-10 col-xs-12">
        <h1>Recent Entries</h1>
        {{ content }}
      </div><!-- id:right -->

    </div><!-- id:main -->

{% include footer.html %}

  </div><!-- iclass:container -->

{% include js-all.html %}
</body>
</html>
